<style>

    html, body {
        height: 100%;
        margin: 0;
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        flex: 1;
    }

    .about-container {
        padding-top: 5%;
    }

</style>

<body>
{{>header}}

    <main>



        <div class="about-container">
            <p>Hello. This is my pet project.</p>
            <p>This project was needed to practice the technologies that a Java developer should know.</p>
            <p>Here you can register and add your own songs, delete them if you want, rate your own or other people's songs.</p>
            <p>You can also watch videos from YouTube video hosting and song lyrics that appear using an external API.</p>
            <p>The site has a search and sorting that you can use.</p>

            <p>Привет. Этот проект был необходим для отработки технологий, которые должен знать Java-разработчик.</p>
            <p>Здесь вы можете зарегистрироваться и добавлять свои песни, удалять их, если хотите, оценивать свои или чужие песни.</p>
            <p>Вы также можете смотреть видео с видеохостинга YouTube и тексты песен, которые появляются с помощью внешнего API.</p>
            <p>На сайте есть поиск и сортировка, которыми вы можете воспользоваться.</p>


            <p><a href="https://github.com/outsideman-ys">Author: Yegor Smirnov</a></p>
        </div>




    </main>
{{>footer}}
</body>