<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: gray;
        background-image: url('images/loginFon.jpg');
    }

    .song-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: center;
        padding-right: 20%;
        padding-left: 20%;
        padding-bottom: 5%;
    }

    :root{
            --hoverButtonColor: 0.5;
        }

    .song-cell {
        text-align: center;
        border-radius: 15px;
        padding: 10px;
        margin-right: 10px;
        margin-left: 10px;
        background-color: rgb(209, 207, 207);
        border-width: 0;
        border-bottom: 4px solid rgb(56, 44, 44);
        border-right: 4px solid rgb(56, 44, 44);
        border-radius: 0.4em;
        transition: all 300ms;
    }

    .song-cell:hover{
        background-color: rgb(160, 160, 160);
        border-bottom: 4px solid rgba(0, 0, 0, 0);
        border-right: 4px solid rgba(0, 0, 0, 0);
        transform: scale(1.1);
    }

    main {
        margin-top: 40px;
    }

    .pageable-container {
        display: flex;
        flex-direction: column;
        margin-bottom:20px;
        justify-content: center;
    }

    button:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    .btn {
            padding: 0.5em 1.5em;
            font-size: 0.9em;
            color: #000000;
            background-color: rgba(107, 195, 242, 1);
            border-width: 0;
            border-radius: 0.4em;
            cursor: pointer;
            transition: all 300ms;
        }

        .btn:hover{
            opacity: var(--hoverButtonColor);
            color:black;
        }


        .btn1 {
            padding: 0.5em 1.5em;
            font-size: 0.9em;
            color: #000000;
            background-color: rgb(209, 207, 207);
            border-width: 0;
            border-radius: 0.4em;
            cursor: pointer;
            transition: all 300ms;
        }

</style>

<body>

    {{>header}}
    <main>
        <div style="padding-top: 10px;">
            <div class="search-control" style="text-align:center">
                <form action="/all-songs" method="get">
                    <label for="search">Search: </label>
                    <input type="text" value="{{search}}" name="search" class="btn1">
                    <input type="submit" value="Search" class="btn"><br>
                    <label for="sort-for">Sort: </label>
                    <select id="sort-for" name="sortField" class="btn1">
                        {{#sortFieldOptions}}
                            <option value="{{value}}" {{#selected}}selected{{/selected}}>{{label}}</option>
                        {{/sortFieldOptions}}
                    </select>
                    <label for="sort-how">How to sort: </label>
                    <select id="sort-how" name="sortOrder" class="btn1">
                        {{#sortOrderOptions}}
                            <option value="{{value}}" {{#selected}}selected{{/selected}}>{{label}}</option>
                        {{/sortOrderOptions}}
                    </select>
                    {{#_csrf}}
                    <input type="hidden" name="{{parameterName}}" value="{{token}}">
                    {{/_csrf}}
                    <input type="submit" value="Sort" class="btn">
                </form>
            </div>
            <div class="song-container" style="padding-top: 50px;">
                {{#songs}}
                <a href="/songs/{{id}}"> <div class="song-cell">
                    <img src="{{imagePath}}" alt="{{albumName}} album"
                         onerror="this.onerror=null; this.src='/images/default-image.jpg';" width="200px" height="200px"><br>
                    <b style="font-size:large">{{songName}}</b><br>
                    <u>{{bandName}}</u>
                </div> </a>
                {{/songs}}
            </div>
        </div>

        <div class="pageable-container">

            <p align="center" style="font-size:250%">PAGE {{currentPage}} OF {{totalPages}}

            <table align="center">
                <tr>
                    <td width="60px"><a href="/all-songs?search={{search}}">
                        <img src="/images/1.png"  width="50px" height="50px">
                        </a></td>
                    <td width="60px"><a href="?search={{search}}&page={{previousPage}}&sortField={{sortField}}&sortOrder={{sortOrder}}">
                        <img src="/images/back.png"  width="50px" height="50px">
                        </a></td>
                    <td width="60px"><a href="?search=&amp;page=1&amp;sortField=songName&amp;sortOrder=asc">
                        <img src="/images/frwd.png"  width="50px" height="50px">
                    </a></td>
                    <td width="60px"></td>
                </tr>
            </table>
            </p>
        </div>



    </main>
    {{>footer}}

</body>