<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: gray;
    }

    .song-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: center;
        padding-right: 10%;
        padding-left: 10%;
        padding-bottom: 5%;
    }

    .song-cell {
        text-align: center;
        margin: 10px;
        padding: 10px;
        background-color: white;
    }

    main {
        margin-top: 40px;
    }

    .pageable-container {
        display: flex;
        flex-direction: column;
        margin-bottom:20px;
        justify-content: center;
    }

    button:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

</style>

<body>

    {{>header}}
    <main>
        <div style="padding-top: 10px;">
            <div class="search-control" style="text-align:center">
                <form action="/all-songs" method="get">
                    <label for="search">Search: </label>
                    <input type="text" value="{{search}}" name="search">
                    <input type="submit" value="Search"><br>
                    <label for="sort-for">Sort: </label>
                    <select id="sort-for" name="sortField">
                        {{#sortFieldOptions}}
                            <option value="{{value}}" {{#selected}}selected{{/selected}}>{{label}}</option>
                        {{/sortFieldOptions}}
                    </select>
                    <label for="sort-how">How to sort: </label>
                    <select id="sort-how" name="sortOrder">
                        {{#sortOrderOptions}}
                            <option value="{{value}}" {{#selected}}selected{{/selected}}>{{label}}</option>
                        {{/sortOrderOptions}}
                    </select>
                    {{#_csrf}}
                    <input type="hidden" name="{{parameterName}}" value="{{token}}">
                    {{/_csrf}}
                    <input type="submit" value="Sort">
                </form>
            </div>
            <div class="song-container">
                {{#songs}}
                <a href="/songs/{{id}}"> <div class="song-cell">
                    <img src="{{imagePath}}" alt="{{albumName}} album"
                         onerror="this.onerror=null; this.src='/images/default-image.jpg';" width="200px" height="200px"><br>
                    <b style="font-size:large">{{songName}}</b><br>
                    <u>{{bandName}}</u>
                </div> </a>
                {{/songs}}
            </div>
        </div>

        <div class="pageable-container">

            <p align="center" style="font-size:250%">PAGE {{currentPage}} OF {{totalPages}}

            <table align="center">
                <tr>
                    <td width="60px"><a href="/all-songs?search={{search}}">
                        <img src="/images/1.png"  width="50px" height="50px">
                        </a></td>
                    <td width="60px"><a href="?search={{search}}&page={{previousPage}}&sortField={{sortField}}&sortOrder={{sortOrder}}">
                        <img src="/images/back.png"  width="50px" height="50px">
                        </a></td>
                    <td width="60px"><a href="?search=&amp;page=1&amp;sortField=songName&amp;sortOrder=asc">
                        <img src="/images/frwd.png"  width="50px" height="50px">
                    </a></td>
                    <td width="60px"></td>
                </tr>
            </table>
            </p>
        </div>



    </main>
    {{>footer}}

</body>