<style>

    @font-face {
      font-family: Onest;
      src: url(fonts/Onest-Regular.ttf);
    }

    footer {
        width: 100%;
        flex-shrink: 0;
        background-color: rgba(107, 195, 242, 1);
        color: black;
        display: flex;

    }

    .footer_list {
        justify-content: right;
        margin-left: 20px;
        font-size: 20px;
    }

    .slogan_and_logos {
        justify-content: left;
        margin-right: 200px;
    }

    .moto {
        margin-top: 65px;
        font-size: 14px;
        margin-left: 10px;
    }

    .foot_imgs {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

    .slogan {
        margin-left: 10px;
        margin-top: 15px;
    }

</style>


<footer>

    <div class="slogan_and_logos">
        <div class="slogan">
            <b>MUSIC BOB is the greatest music project in the world!<br/> Join us in out Great Journey!</b>
        </div>
        <div class="foot_imgs">
            <img src="/images/tg_logo.png" alt="logo" width="40px" style="margin-right: 10px;"/>
            <img src="/images/yt_logo.png" alt="logo" width="40px" style="margin-right: 10px;"/>
            <img src="/images/gh_logo.png" alt="logo" width="40px"/>
        </div>
        <p class="moto">© 2024 Music Bob, Inc</p>
    </div>

    <div class="footer_list">
        <ul style="list-style: none;">
            <li style="margin-top: 10px;">Terms of Use</li>
            <li style="margin-top: 10px;">Contact Us</li>
        </ul>
    </div>

    <div class="footer_list">
        <ul style="list-style: none;">
            <li style="margin-top: 10px;">Developers</li>
            <li style="margin-top: 10px;">Jobs</li>
        </ul>
    </div>

    <div class="footer_list">
        <ul style="list-style: none;">
            <li style="margin-top: 10px;">Songs</li>
            <li style="margin-top: 10px;">Blog</li>
        </ul>
    </div>

</footer>