<style>

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .song-container {
        display: flex;
        justify-content: center;
    }

    .song-cell {
        text-align: center;
        padding: 10px;
        margin-right: 10px;
        margin-left: 10px;
        background-color: white;
    }

    body {
        background-color: gray;
    }

    @font-face {
      font-family: Onest;
      src: url(/fonts/Onest-Regular.woff2);
    }



</style>

<body>

{{>header}}

<main>

    <h1 style="text-align:center; padding-top: 80px">Bobworld</h1>

    <h2 style="text-align:center">Check out new songs</h2>

    <div class="song-container">
        {{#dateSongs}}
        <div class="song-cell">
            <a href="/songs/{{id}}">
            <img src="/{{imagePath}}" alt="{{albumName}} album"
                 width="200px" height="200px"><br>
            <b style="font-size:large">{{songName}}</b><br>
            <u>{{bandName}}</u>
            </a>
        </div>
        {{/dateSongs}}
    </div>

    <h2 style="text-align:center">Check out popular songs</h2>

    <div class="song-container" style="padding-top: 10px;">
        {{#ratingSongs}}
            <div class="song-cell">
                <a href="/songs/{{id}}">
                <img src="{{imagePath}}" alt="{{albumName}} album"
                     width="200px" height="200px"><br>
                <b style="font-size:large">{{songName}}</b><br>
                <u>{{bandName}}</u>
                </a>
            </div>
        {{/ratingSongs}}
    </div>
    <br><br><br>


</main>

{{>footer}}

</body>
