<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    pre {
        white-space: pre-wrap;
        word-wrap: break-word;
    }

</style>


<body>

    {{>header}}
    <script src="/js/getter_lyrics.js"></script>

    <main style="padding-top: 50px">
        {{#song}}
            <p id="song_name">Song Name: {{songName}}</p>
            <p id="band_name">Band Name: {{bandName}}</p>
            <p id="rating">Rating: {{rating}}</p>
            <img src="/{{imagePath}}" alt="{{albumName}} album" width="200px" height="200px">
            <a href="/{{guitarProPath}}" download="{{bandName}} - {{songName}}.gp5">Click here to download guitar pro file of song</a>
        {{/song}}

        <pre id="lyrics"></pre>

        {{#videoId}}
            <h2>Watch the video:</h2>
            <iframe width="800" height="600"
                    src="https://www.youtube.com/embed/{{videoId}}"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
        {{/videoId}}

    </main>

    {{>footer}}
</body>